*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.initial{
    width: 50%;
    float: left;
}

.navbar{
    height: 20vh;
    background-color: rgb(27, 57, 55);

}
.contactinfo-first > ul{
    display:flex;
    list-style: none;
    cursor: pointer;
    justify-content: flex-start;
    color:rgb(189,162,106);
    padding: 1.5rem 0 1.2rem 0;
    margin-left: 6rem;
    font-size: 1.2rem;
}
.contactinfo-first>ul>li> i{
    padding-left: 1rem;
}
.mainnav > ul{
    list-style: none;
    cursor: pointer;
    border-top: 1px solid rgb(189,162,106) ;
    display: flex;
    margin: 0 0 0 6.5rem;
    justify-content: flex-start;
    width: 35vw;
}
.mainnav > ul>li{
    font-family: sans-serif;
    margin-top: 1rem;
    padding: 1rem 3.2rem 1rem 0;
    color: #cccbcb;
    font-size: 0.9rem;
    font-weight: bold;
}
.mainnav>ul>li>i{
    padding-left: 0.3rem;
}
.navlogo >img{
    position: absolute;
    top: 0.8rem;
    left: 53rem;
    height: 8rem;
    
}
.contactinfo-second > ul{
    list-style: none;
    cursor: pointer;
    display:flex;
    justify-content: flex-end;
    color:rgb(189,162,106);
    padding: 1.5rem 0 1.2rem 0;
    width: 35vw;
    margin:auto ;  
    font-size: 1.2rem;
}
.contactinfo-second>ul>li> i{
    padding-left: 1rem;
}
.main-nav > ul{
    list-style: none;
    cursor: pointer;
    border-top: 1px solid rgb(189,162,106) ;
    display: flex;
    justify-content: flex-end;
    width: 35vw;
    margin: auto;
}
.main-nav > ul>li{
    font-family: sans-serif;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem 0 1rem 3.2rem;
    color: #cccbcb;
    font-size: 0.9rem;
    font-weight: bold;
}
.main-nav>ul>li>i{
    padding-left: 0.3rem;
}
.mainvideo{
    position: relative;
    overflow: hidden;
}
.mainvideo >video{
    height: 50rem;
    width: 100%;
    object-fit:fill;
} 
.play{
    border: none;
    border-radius: 50%;
    padding: 1.5rem;
    background:transparent ;  
    position: absolute;
    top: 39rem;
    left: 8.6rem;
    outline:2px solid white;
    cursor: pointer;
}
.collection{
    height: 80vh;
    background-color: rgb(246,244,223);
}
.button{
    text-align: center;
}
.collection button{
    cursor: pointer;
    box-shadow: 0px 4px #c7a050;
    margin: 4rem ;
    border: none;
    background-color:#926C1E ;
    color: white;
    padding:20px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 4px;
}
.collectioncontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    margin: auto;
}
.right-content{
    width: 36vw;
}
.left-content{
    width: 36vw;
    
}
.left-content> h1{
    font-size: 3rem;
    font-weight: normal;
    color: #584114;
}
.border{
    width: 5vw;
    border: 3px solid #c39231;
    margin-top: 2rem;
}
.left-content p{
    margin-top: 13rem;
    font-size: 1.9rem;
    font-weight: 100;
    color: #473614;
    font-family:'Arial Narrow', Arial, sans-serif;
}
.right-content p{
    color: #584114;
    font-family: sans-serif;
    font-size: 1.2rem;
    margin: 4.5rem 0 0.5rem 0;
}
.right-content ul li{
    color: #2e220a;
    font-family: sans-serif;
    font-size: 1.2rem;
    padding: 0.4rem 0 0.6rem 0;
    list-style-position: inside;
    font-weight: bold;
}
.right-content> ul> li::marker{
    color:#bb8d31;
    font-size: 1.7rem;
}
.featuredI{
    height: 65vh;
    background-color:rgb(14, 29, 28);
    display: flex;
    justify-content: center;
    align-items: center;
}
.featuredI .container{
    height: 70%;
    width: 85vw;
    margin: auto;
}
.Inventoryhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff ;
}
.Inventoryhead h2{
    font-family: POPPINS;
    font-size: 2rem;
    font-weight: 600;
}
.Inventoryhead .button{
    border: none;
    border-radius: 50%;
    padding: 0.8rem;
    background:transparent ;  
    outline:2px solid #c39231;
    cursor: pointer;
    margin: 0.5rem;
    cursor: pointer;

}
.Inventorycard{
    display: flex;
    overflow-x: scroll;
    cursor: pointer;
}
.Inventorycard::-webkit-scrollbar{
    display: none;
}
.Inventorycard .cardouter{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 4rem;  
}
.Inventorycard .cardinner{
    width: 352px;
    margin:2rem 0 2rem 0;
}
.Inventorycard .image img{
    height: 200px;
    width: 350px;
}
.Inventorycard .image{
    border: 1px solid #bb8d31 ;
    margin-bottom: 2rem;
    background-color: #bb8d31;
}
.Inventorycard .image h3{
    margin-left: 1rem;
    font-size: 1.5rem;
}
.Inventorycard .carddetails{
    margin-left: 2rem;
    color: white;
    font-family:Poppins;
}
.carddetails > p,h3,b{
    font-family: inherit;
    padding: 2px;
}
.sellingsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#f7f7f7;
    height: 50vh;
}
.sellcontent h1{
    font-size: 2.5rem;
    margin: 6rem 8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #584114;
    font-weight:500;
}
.bg img{
    height: 49vh;
}
.sellcontent button{
    cursor: pointer;
    text-align: center;
    border: none;
    background-color:rgb(14, 29, 28);
    color: white;
    padding: .8rem 1.5rem;
    font-size: 1.1rem;
    font-family: poppins;
    margin-left: 8rem;
}
.reviews{
    height: 100vh;
    background-color:  rgb(27, 57, 55);
}
.reviewtext{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.review-button{
    border: none;
    border-radius: 50%;
    padding: 1.2rem;
    background:transparent ;  
    outline:2px solid #c39231;
    cursor: pointer;
    margin: 0.5rem;
    cursor: pointer;
}
.reviewtext h1{
    font-size: 3rem;
    font-weight: 500;
}
.reviewtext h2{
    font-family: poppins;
    font-weight: 600;
}
.reviewcardwrapper{
    display: flex;
    overflow-x: scroll;
    cursor: pointer;    
    width: 85vw;
    margin: auto;
}
.reviewcardouter{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3rem; 
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    
}
.reviewcardwrapper::-webkit-scrollbar{
    display: none;
}
.reviewcard{
    background-color: #d9d9d9;
    padding: 2rem;
    height: 450px;
    border-radius: .7rem;
    width: 450px;
}
.reviewcard h3{
    color: #926C1E;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
    height: 50px;
}
.reviewcard p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    height: 200px;
}
.reviewcard h4{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
}
.blog{
    background-color:rgb(14, 29, 28);   
    height: 110vh;
   
}
.blogcontent{
    width: 85vw;
    margin: auto;


}
.blogcontent > h2{
    font-family: sans-serif;
    color: white;
    padding: 6rem 0 3rem 0;
}
.blogcards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem
}
.blogcard {
    height: 80vh;

}
/* .blogcard >img,h2,p,h3{ */
    /* padding: 1rem 0; */
}

.blogbtn{
    text-align: center;
}

.blogbtn button{
    cursor: pointer;
    border: none;
    padding: 1rem 2.5rem;
    color: white;
    background-color:rgb(25, 49, 49);
    font-size: 1rem;
    font-family: poppins;
    font-weight: 600;
    font-size: 1.1rem;
}
/* .blogcard > h2,h3{
    font-family: poppins;
    color: #bb8d31;
} */
.blogcard h2{
    font-size: 1.3rem;
    height: 4rem; 
}
.blogcard > p{
    font-size: 1rem;
    color: white;
    font-family: poppins;
    font-weight: 400;
    height: 120px;
} 
.blogcard h3{
    font-weight: 300;
}
.blogcard img{
    width: 500px;
}